<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Find popular code snippets</title>
</head>

<body ng-app="App">
  <header>
    <search></search>
  </header>

  <new-snippet></new-snippet>

  <% if (snippets.length === 0) { %>

    <small>No snippets to render</small>

  <% } else { %>

    <table>
    <% snippets.forEach(function(snippet) { %>
        <tr>
          <td>
            <%= snippet.title %>
          </td>
          <td>
            <%= snippet.codesnippet %>
          </td>
          <td>
            <%= snippet.description %>
          </td>
        </tr>
      <% }); %>
    </table>

  <% } %>

  <!--scripts-->
  <script src="/app/angular.min.js"></script>
  <script src="/app/angular.init.js"></script>
  <script src="/app/directives/search/search.js"></script>
  <script src="/app/directives/new-snippet/new-snippet.js"></script>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>-->
</body>

</html>
