<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home | Snippet Search</title>

  <!--styles-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/styles/home.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">

  <!--scripts-->
  <script src="/assets/scripts/angular.js"></script>
  <script src="/assets/directives.js"></script>
</head>

<body ng-app='app'>
  <nav class="navbar navbar-default">

    <div class="container-fluid">

      <a href="#new-snippet">
        <button class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-pencil"></span> New
        </button>
      </a>

      <div class="nav navbar-nav navbar-right">
        <a href="#profile">
          <button class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-user"></span> Profile
          </button>
        </a>
      </div>

    </div>

  </nav>

  <div class="jumbotron">
    <div class="container">
      <h1>Snippet Search</h1>
      <form class="input-group" action="/search" method="POST">
        <input class="form-control" type="text" ng-model="search.query" placeholder="Clearfix, Node server, etc...">
        <div class="input-group-btn">
          <submit class="btn btn-primary">Search</submit>
        </div>
      </form>
    </div>
  </div>



  <form action="/search" method="POST">
    <input type="text" name="search" value="search">
    <button type="submit">Search Code</button>
  </form>
  <h2> <%= snipplets.title %> </h2>
  <pre>
        <code>

               <%= snipplets.body %>

        </code>
</pre>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
